streamlit  
pandas  
numpy  
plotly.express  
requests  
streamlit_lottie  
altair  
geopandas   
random  
folium  
folium.plugins  
streamlit_folium  
json  
plotly.graph_objects  
plotly.subplots  
plotly.offline  
streamlit.components.v1
pillow
